<a href="https://colab.research.google.com/github/vpaula07/NewYorkCityAirbnb/blob/main/NewYorkCityAirbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

data = pd.read_csv('/content/AB_NYC_2019.csv')

In [5]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Calcular a média de todos os valores de aluguel da cidade de Nova York.

In [6]:
preco_aluguel = data.loc[:, 'price']

np.mean(preco_aluguel)

152.7206871868289

## Contar todos os nomes distintos que aparecem na coluna região.

In [7]:
regiao = data.loc[:, 'neighbourhood_group']

pd.unique( regiao)

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

## Encontrar o valor máximo da coluna que contém os valores dos aluguéis.

In [8]:
preco_aluguel = data.loc[:, 'price']

np.max( preco_aluguel)

10000